.addtodo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.input__todo{
    width: 150px;
    height: 40px;
    border-radius:10px;
    padding-left:10px;
}

.addtodo_btn{
    width: 70px;
    height: 40px;
    border-radius:10px;
    cursor: pointer;
    -moz-border-radious:7px;
}